/* body */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #F3F3F3;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header img {
    margin: 0 22px;
}

.bate-papo-uol-logo {
    width: 78px;
    height: 55.2px;
}

.people {
    width: 43px;
    height: 31px;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

footer input {
    width: calc(100% - 17px);
    height: 40px;
    border: 0;
    padding-left: 17px;
}

footer img {
    position: absolute;
    right: 18px;
    bottom: 27px;
}

footer p {
    padding-left: 17px;
    color: #505050;
    font-size: 12px;
}

/* main */

main {
    /* height: 1000px; */
    margin: 80px 0;
}

em {
    font-style: normal;
    color: #AAAAAA;
}

.from, .to {
    font-weight: 700;
}

main p {
    padding: 14px 10px;
    margin-top: 4px;
    border-radius: 2px;
    line-height: 20px;

    word-break: break-all;
}

main .status {
    background-color: #DCDCDC;
}

main .privateMessage {
    background-color: #FFDEDE;
}

main .publicMessage {
    background-color: #FFFFFF;
}

.publicText, .privateText, .statusText {
    display: none;
}

.status .statusText, .privateMessage .privateText, .publicMessage .publicText {
    display: inline;
}

.background {
    position: fixed;
    left: 100vw;
    right: -100vw;
    top: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s;

    z-index: 1;
}

.showBackground {
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 1s;
}

.barra-lateral {
    position: fixed;
    width: 260px;
    right: -260px;
    top: 0;
    bottom: 0;

    z-index: 2;

    background-color: white;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    word-break: break-all;

    transition: all 1s;
}

.show {
    transform: translateX(-260px);
}

nav > p {
    width: 100%;
    margin: 25px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 16px;
    font-weight: 700;
}

nav ul li {
    padding: 0 17px 17px 17px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav ul li p {
    margin-left: 8px;
    width: 215px;
}

.hidden {
    display: none;
}

.check {
    display: none;
}

.selected .check {
    display: inline;
}